<?xml version='1.0' encoding='utf-8'?>
<plugin id="BootStart" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BootStart</name>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <!-- 这里指定BootStart插件，包路径 -->
            <feature name="BootStart">
                <param name="android-package" value="BootStart.BootStart" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name=".BootStart" android:enabled="true" android:exported="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <category android:name="android.intent.category.HOME" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/BootStart.java" target-dir="src/BootStart" />
    </platform>
</plugin>